openapi: 3.1.0
info:
  title: Earl Is My Cat Clinical API - Starter Contract
  version: 0.1.0
  description: Conceptual production API for adult-only asynchronous teledermatology.
servers:
  - url: https://app.earlismycat.com/api
security:
  - sessionCookie: []
components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: __Host-eimc_session
  schemas:
    VisitStatus:
      type: string
      enum:
        - draft
        - age_blocked
        - intake_started
        - photos_pending
        - consent_pending
        - payment_pending
        - submitted
        - triage_review
        - provider_review
        - needs_info
        - rx_pending
        - pharmacy_sent
        - closed_rx
        - closed_no_rx
        - referred
        - closed_referred
        - refunded
        - canceled
    Visit:
      type: object
      required: [id, status, patient_state, adult_attestation]
      properties:
        id:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/VisitStatus'
        patient_state:
          type: string
        concern_slug:
          type: string
        adult_attestation:
          type: boolean
    RedFlag:
      type: object
      properties:
        code:
          type: string
        label:
          type: string
        severity:
          type: string
          enum: [info, caution, urgent, hard_stop]
paths:
  /auth/start:
    post:
      summary: Start passwordless patient authentication.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: OTP sent.
  /auth/verify:
    post:
      summary: Verify OTP and set secure session cookie.
      responses:
        '200':
          description: Authenticated.
  /visits:
    post:
      summary: Create adult-only draft visit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dob, patient_state, adult_attestation]
              properties:
                dob:
                  type: string
                  format: date
                patient_state:
                  type: string
                adult_attestation:
                  type: boolean
      responses:
        '201':
          description: Visit created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Visit'
        '403':
          description: Under 18 or unsupported state.
  /visits/{visit_id}/intake:
    patch:
      summary: Save minimal intake answers.
      parameters:
        - name: visit_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Intake saved.
  /visits/{visit_id}/photos/presign:
    post:
      summary: Generate presigned photo upload request.
      responses:
        '200':
          description: Presigned upload details.
  /visits/{visit_id}/consents:
    post:
      summary: Store consent acceptance.
      responses:
        '200':
          description: Consent stored.
  /visits/{visit_id}/payment-session:
    post:
      summary: Create Stripe checkout/payment session with no PHI metadata.
      responses:
        '200':
          description: Payment session created.
  /webhooks/stripe:
    post:
      summary: Stripe webhook endpoint.
      description: Must verify Stripe signature and enforce idempotency.
      responses:
        '200':
          description: Event accepted.
  /provider/visits/{visit_id}/review-bundle:
    get:
      summary: Fetch one-page provider review bundle.
      responses:
        '200':
          description: Review bundle.
  /provider/visits/{visit_id}/decision:
    post:
      summary: Sign provider decision and optionally prepare Rx.
      responses:
        '200':
          description: Decision stored.
  /provider/prescriptions/{prescription_id}/send:
    post:
      summary: Send prescription to approved pharmacy handoff channel.
      responses:
        '200':
          description: Handoff queued or sent.
